{{ define "layouts/header.tmpl" }}

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ .title }}</title>

	<!-- Bootstrap 5 CSS -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css" media="screen">
	
	<!-- Font Awesome CSS -->
	<link rel="stylesheet" href="/assets/css/bootstrap-icons.css">

</head>


{{ end }}
